html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding: 0;
  background: #fafafa;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.view {
  flex: 1;
}