.login-h5 {
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-input {
    box-sizing: border-box;
    width: 315px;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid #D5DFED;
    border-radius: 8px;
  }
  .login-tip {
    width: 315px;
    height: 24px;
    line-height: 24px;
    font-weight: 400;
    font-size: 12px;
    color: #99A2B2;
  }
  .login-btn {
    width: 315px;
    height: 48px;
    background: linear-gradient(95.14deg, #0052D9 0%, #0676FF 100%);
    box-shadow: 0px 1px 3px rgba(255, 255, 255, 0.6);
    border-radius: 8px;
  }
}

.el-input__wrapper:hover {
  box-shadow: none;
}