.pc-call-card {
  margin: 85px auto 24px auto;
  width: 520px;
}

.pc-call-input-box {
  width: 520px;
  height: 48px;
  padding: 0 4px 0 20px;
  margin-top: 12px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  background: #F0F4FA;
  font-weight: 400;
  font-size: 14px;
  color: #8F9AB2;
}
.pc-call-input {
  height: 40px;
  border: none;
  margin-right: 5px;
  border-radius: 28px;
  background: transparent;
}
.pc-call-btn {
  width: 89px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1C66E5;
  border-radius: 26px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}
.pc-call-btn:hover {
  cursor: pointer;
}
/* ========= qr ========= */
.qr-code-box {
  margin-top: 173px;
  display: flex;
  align-items: center;
  position: relative;
}
.qr-code {
  position: absolute;
  right: 43px;
  bottom: 23px;
}
.qr-code-text {
  margin-right: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #8F9AB2;
}
