.call-h5-panel {
  width: 100vw;
  height: 100vh;
  background: #f8f9fb;
}

.call-h5-bar {
  height: 54px;
  background: #FFFFFF;
  border-bottom: rgba(0, 0, 0, 0.1);
}
.h5-call-img {
  margin-left: 20px;
}
.h5-call-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin: 0 auto;
}

.h5-call-input {
  width: 343px;
  height: 62px;
  margin: 20px auto;
  background: #FFFFFF;
  border-radius: 6px;
  border: none;
}

.h5-call-btn {
  width: 347px;
  height: 46px;
  margin: 0 auto;
  background: linear-gradient(315deg, #006EFF 0%, #0C59F2 98.81%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
}

