.search-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 24px;
  white-space: nowrap;

  .title{
    margin-right: 10px;
  }
}

.search-input {
  border: 1px solid #dee0e3;
  border-radius: 21px;
  height: 42px;
  padding: 9px;
  padding-left: 40px;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  margin-bottom: 24px;
}

.user-id {
  font-size: 14px;
  opacity: 0.5;
  white-space: nowrap;
}

.search-results-PromptText {
  margin-top: 46px;
  color: rgba(143, 149, 158, 1);
  font-size: 14px;
  font-weight: 500;
  font-family: "PingFang SC", "Microsoft Yahei", monospace;
  text-align: center;
  line-height: 20px;
}

.search-results-PromptText .PromptText {
  color: red;
}
