html,
body,
#app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-image: url("./assets/background-compress.png");
  background-size: cover;
}

.search {
  width: 100%;
  height: 100%;
  border-radius: inherit;

  display: flex;
  flex-wrap: nowrap;
  background-color: white;

  position: absolute;
  left: 0;
  top: 0;
}

.search-window {
  width: 50%;
}

.search-left {
  border-right: 0.5px solid #ebeced;
  padding: 32px;

  display: flex;
  flex-direction: column;
}

.search-right {
  border-left: 0.5px solid #ebeced;
  padding: 32px;
}

.search-title {
  font-weight: 500;
  font-size: 20px;
}

.user-id {
  font-size: 14px;
  opacity: 0.5;
  white-space: nowrap;
  cursor: pointer;
}

.selected-title {
  font-size: 18px;
}

.add-btn {
  margin-top: 24px;
  position: relative;
  width: 100%;
  border: 1px solid #dee0e3;
  border-radius: 2px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  user-select: none;
  background: linear-gradient(95.14deg, #0052d9 0%, #0676ff 100%);
}

.add-btn:hover {
  opacity: 0.9;
}

.loading-img {
  display: inline;
  width: 14px;
  margin-right: 3px;
  animation: loading 1.2s linear infinite;
}

@keyframes loading {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(-360deg);
  }
}

.search-input-container {
  border-radius: 18px;
  margin-top: 24px;
  position: relative;
  width: 100%;
}

.search-input {
  border: 1px solid #dee0e3;
  border-radius: 21px;
  height: 42px;
  padding: 9px;
  padding-left: 40px;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
}

.icon-search {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 12px;
  margin: auto;
  height: 22px;
}

.search-results-title {
  font-size: 16px;
  line-height: 14px;
  color: #8f959e;
  margin-top: 24px;
}

.search-results {
  margin-top: 24px;
}

.checkbox {
  border-radius: 2px;
  margin-right: 14px;
  cursor: pointer;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border-radius: 2px;
}

.cancel {
  position: absolute;
  right: 12px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.result-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 16px;
  align-items: center;

  position: relative;
}

.userID {
  font-size: 18px;
  color: #4f4f4f;
}

.user-email {
  font-size: 16px;
  color: #888;
  margin-top: 4px;
}

.rtc-detector-starter {
  height: 32px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
  user-select: none;
  margin-right: 10px;

  text-decoration: underline;
}

.call-buttons {
  position: absolute;
  right: 32px;
  bottom: 32px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.call-btn {
  background: linear-gradient(95.14deg, #0052d9 0%, #0676ff 100%);
  border-radius: 2px;
  height: 32px;
  padding: 0px 25px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  user-select: none;

	border: none;
	font: inherit;
	outline: inherit;
}

.call-btn:hover {
  opacity: 0.9;
}

.call-btn-gray {
  background: linear-gradient(95.14deg, #0052d9 0%, #0676ff 100%);
  border-radius: 2px;
  height: 32px;
  padding: 0px 25px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  user-select: none;
  opacity: 0.65;
  cursor: not-allowed;

	border: none;
	font: inherit;
	outline: inherit;
}

.switch {
  height: 44px;
  width: 264px;
  background: rgba(73, 154, 255, 0.1);
  backdrop-filter: blur(9px);
  border-radius: 24px;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-wrap: nowrap;

  margin-top: 36px;
  margin-bottom: 3rem;
}

.switch-language {
  cursor: pointer;
  width: 100px;
  user-select: none;
  display: flex;
  align-items: center;
  position: absolute;
  top: 36px;
  right: 36px;
}

.switch-language-H5 {
  cursor: pointer;
  width: 100px;
  user-select: none;
  display: flex;
  align-items: center;
  position: absolute;
  top: 6px;
  right: 6px;
}

.language-name {
  margin: 5px;
}

.icon {
  height: 24px;
}

.switch-name {
  margin-left: 5px;
}

.switch-btn {
  width: 132px;
  height: 44px;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-select {
  background: linear-gradient(95.14deg, #0052d9 0%, #0676ff 100%);
  color: white;
}

.call-kit-container {
  width: 50rem;
  height: 35rem;
  max-width: 100%;
  max-height: 100vh;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-family: "PingFang SC";
  overflow: hidden;
  position: relative;
}

.call-kit-container-H5 {
  width: 100vw;
  height: 100vh;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  font-family: "PingFang SC";
  overflow: hidden;
  position: relative;
}

.hover {
  position: absolute;
  background: black;
  opacity: .6;
  z-index: 2000;
  width: 100%;
  height: 100%;
  width: 50rem;
  height: 35rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  color: rgba(255, 255, 255, 0.6);
}

#debug {
  background-color: white;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  margin-top: 150px;
  width: 350px;
}

#debug h2 {
  text-align: center;
  margin-bottom: 55px;
}

#debug .panel-form {
  display: flex;
  flex-direction: column;
}

#debug h5 {
  display: inline;
}
.panel-link {
  margin-top: 15px;
}

#debug .panel-input {
  margin-bottom: 20px;
  border-radius: 5px;
  height: 30px;
  border: 1px solid #ccc;
}

#debug .panel-btn {
  margin: 10px 0;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#debug .panel-btn:hover {
  background-color: #0056b3;
}

.panel-link a {
  text-decoration:none;
  color:#0849ee;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
input[type="number"] {
  -moz-appearance: textfield !important;
}


@media screen and (max-height: 800px) { 
  .call-kit-container {
    width: 45rem;
    height: 30rem;
    max-width: 100%;
    max-height: 100vh;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-family: "PingFang SC";
    overflow: hidden;
  
    position: relative;
  }
}
.invite-container {
  margin-top: 20px;
}
.invite-input {
  width: 400px;
  margin-left: 12px;
}
.invite-btn {
  margin-left: 12px;
}