.tui-call-kit {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: inherit;
}

.calling-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: inherit;

  background: rgba(0, 24, 60, 0.7);
  backdrop-filter: blur(34px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  z-index: 12;
}

.calling-wrapper:hover {
  z-index: inherit;
  transition: all 0.5s ease-in-out;
}

.dialing-wrapper {
  border-radius: inherit;
  background: #00183C;
  color: white;
  opacity: .7;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  border-radius: inherit;
  top: 0;
  left: 0;
  z-index: 10;

  overflow: hidden;
}

.dialing-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: relative;
  top: -3rem;
}

.dialing-user-id {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  width: 100%;

  line-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialing-info {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  line-height: 20px;
}

.control-wrapper {
  transform: translate(-50%);
  position: absolute;
  bottom: 0;
  padding-bottom: 40px;
  left: 50%;
  width: 100%;

  color: white;
  border-radius: inherit;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  z-index: 11;

  user-select: none;
}

.control-wrapper:hover {
  z-index: 13;
}

.control-item {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  width: 100px;
  margin: 0 20px;
}

.control-item-text {
  margin-top: 5px;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}

.control-item-icon {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;
}

.control-item-icon-container {
  background: rgba(218, 218, 218, 0.3);
  border-radius: 40px;
  width: 40px;
  height: 40px;

  margin: 0.5rem;
  cursor: pointer;
}

.control-item-summary {
  height: 40px;
  width: 12px;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.control-item-summary:hover {
  background: rgba(0, 0, 0, 0.4);
}

.control-item-detail {
  width: 300px;
  border-radius: 4px;
  background: #FEFEFF;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: black;

  padding: 20px;

  position: absolute;
  transform: translate(28px, 0);
  bottom: 110%;
}

.control-item-detail-row {
  margin-bottom: 6px;
  font-size: 16px;
}

.device-select {
  height: 32px;
  border: 1px solid #DEE0E3;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.control-item-detail::before {
  content: '';
  width: 0;
  height: 0;
  border-width: 10px 5px;
  border-style: solid;
  border-color: #FEFEFF transparent transparent;
  bottom: -20px;
  margin-left: -5px;
  position: absolute;
  left: 50%;
}

.tag {
  color: white;
  z-index: inherit;
  background: rgba(0, 0, 0, 0.6);
  padding: 2px 10px;
  border-top-right-radius: inherit;
  border-bottom-left-radius: inherit;
  font-size: 14px;

  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 11;

  display: flex;
}

.tag .microphone-icon-container {
  margin-left: 0;
  margin-right: 2px;
  width: 20px;
  background-color: transparent;
}

.switch-large-small {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 16px;
  height: 16px;
  z-index: inherit;
  cursor: pointer;
}

.small {
  position: absolute;
  width: auto;
  height: 200px;
  min-height: 100px;
  max-height: 60%;
  top: 30px;
  left: 30px;
  z-index: 2;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  resize: vertical;
}

.large {
  min-height: 100px;
  width: 100%;
  height: 100%;
  z-index: 1;
  border-radius: inherit;
  overflow: hidden;
}

.large .switch-large-small {
  display: none;
}

.group-calling-container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.group-user-view {
  width: 33.333%;
  height: 33.333%;
  position: relative;

  background: rgba(32, 32, 32, 0.45);
  backdrop-filter: blur(34px);
  color: white;

  overflow: hidden;
}

.user-view-text-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(0, -20px);
}

.user-view-user-id {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}

.user-view-info {
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}

.page-turn {
  width: 40px;
  height: 86px;
  border-radius: 4.21px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 11;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.turn-icon-container {
  width: 14px;
  height: 23px;
}

.right {
  right: 0;
}

.microphone-icon-container {
  width: 24px;
  height: 24px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}

.group-user-view-1 {
  width: 100%;
  height: 100%;
}

.group-calling-container-1 {
  height: 100%;
}

.group-user-view-2 {
  width: 50%;
  height: 100%
}

.group-calling-container-2 {
  height: 50%
}

.group-user-view-3 {
  width: 50%;
  height: 50%
}

.group-user-view-4 {
  width: 50%;
  height: 50%
}

.group-calling-container-3 {
  height: 100%
}

.group-calling-container-4 {
  height: 100%
}

.group-user-view-5 {
  width: 33.333%;
  height: 50%
}

.group-user-view-6 {
  width: 33.333%;
  height: 50%
}

.group-calling-container-5 {
  height: 66%
}

.group-calling-container-6 {
  height: 66%
}

.user-view-user-id-1 {
  font-size: 24px;
}

.user-view-user-id-2 {
  font-size: 22px;
}

.user-view-user-id-3 {
  font-size: 22px;
}

.user-view-user-id-4 {
  font-size: 22px;
}

.user-view-user-id-5 {
  font-size: 18px;
}

.user-view-user-id-6 {
  font-size: 18px;
}

.user-view-user-id-7 {
  font-size: 18px;
}

.user-view-user-id-8 {
  font-size: 18px;
}

.user-view-user-id-9 {
  font-size: 18px;
}

.float-control-panel {
  width: 168px;
  height: 56px;
  background: white;
  z-index: 13;

  position: fixed;
  top: 20px;
  right: 20px;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.function-buttons {
  position: absolute;
  right: 12px;
  top: 12px;
  z-index: 13;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.minimize {
  margin-left: 10px;
}

.float-control-item-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 56px;
  height: 56px;
  position: relative;
}

.float-control-item-icon-container {
  border-radius: 40px;
  width: 40px;
  height: 40px;

  margin: 0.5rem;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.float-control-item-icon-container:hover {
  background: rgba(218, 218, 218, 0.3);
}
